@import '../src/styles/variables';
@import '../src/styles/placeholders';
@import '../src/styles/core';

body {
  padding: 4rem 2rem;
}

.st-header {
  display: flex;

  figure {
    margin: 0;
  }

  &__price {
    font-size: 16px;
    color: #b6b6b6;
    text-transform: uppercase;
    margin: 8px 0 0;
  }
}

.st-form {
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 0.1rem solid $color-placeholder;
    padding: 0 0 $space-m;
    margin: 0 0 $space-m * 3;

    span {
      float: right;
      font-size: 1.2rem;
      color: $color-placeholder;
      text-transform: uppercase;
      margin: 0.2rem 0 0;
    }

    strong {
      color: $color-body;
    }
  }

  iframe {
    max-height: 110px;
    height: 100%;
    width: 100%;
    border: 0;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__field {
    display: block;
    width: 100%;
    padding: 10px;
  }

  &__label {
    @extend %label;
  }

  &__label--required {
    @extend %label--required;
  }

  &__input {
    @extend %input;
  }

  &__message {
    @extend %message;
  }

  &__button {
    @extend %button;
  }

  &__st-animated-card {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-height: 300px;
  }
}


.st-notification-frame {
  height: 6.2rem;
}

#st-control-frame-iframe {
  display: none;
}

footer {
  background-color: #0a0a0a;
  color: #fff;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 4rem;
}
